numpy~=1.26.2
moviepy~=1.0.3
speechmatics-python
Pillow~=10.1.0
matplotlib~=3.8.2
pandas~=2.1.3
gcloud~=0.18.3
oauth2client~=4.1.3
google-api-python-client~=2.108.0
elevenlabs~=0.2.26
requests~=2.31.0
pydub~=0.25.1
httpx~=0.25.1
gizeh~=0.1.11
opencv-python~=4.8.1.78
xmlschema~=2.5.0
xsdata~=23.8
elevenlabslib~=0.16.2
google-cloud-speech
google-cloud-texttospeech